hr {
    height: 1px;
    border: none;
    background-color: var(--grey2);
}

.layout-grid-left,
.layout-grid-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.flex-col-card {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header-container * {
    margin: 0;
}

.prose {
    line-height: 1.6;
}

.post-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--dark-grey);
    color: var(--white);
    text-decoration: none;
    transition:
        background-color 0.15s ease,
        border 0.15s ease;
}

.post-container:hover,
.post-container:focus-visible {
    background-color: rgba(--primary-rgb, 0.125);
    border: 1px solid var(--primary);
}

.post-container:focus-visible {
    outline: none;
}

.post-date,
.card-date {
    color: var(--grey);
}

.work-experience-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-entry:not(:last-of-type) {
    border-bottom: 1px solid var(--dark-grey);
    padding-bottom: 1rem;
}

.card-date {
    font-size: 0.925rem;
}

.card-title {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.card-subtitle {
    margin-bottom: 0.75rem;
}

.socials-link {
    color: var(--white);
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .layout-grid-left,
    .layout-grid-right {
        gap: 1rem;
    }
}